button#contactus_btn {
  background-color: blue;
  border-radius: 10px;
  color: #fff;
}

@media (max-width: 565px) {
  .navbar-brand img {
    width: 150px;
  }
  button#contactus_btn {
    width: 100px;
    font-size: 14px;
    font-weight: bold;
  }
}
